aside {
  background-color:white;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  font-size:4%;
  width:23%;
  float:left;
  position:fixed;
  left:0%;
  bottom:2%;
  top:2%;
  border-right:1px solid grey;
  margin-bottom:1%;
}
#bio{
  font-size:12px;
}
#contactinfo{
  border-top:1px dashed;
  width:95%;
}
#jobs{
  border-top:1px dashed;
  width:95%;
}
#links
{
  padding:0.5%;
  margin-left:3%;
}
#maincontent{
  margin-left:0.5%;
  margin-top:0.5%;
  margin-bottom:2%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ;
  padding: 2%;
  width:67%;
  float:left;
  position:absolute;
  top:1%;
  right:5%;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #0060B6;
  text-decoration: none;
}

a:hover
{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}
section {

  float:left;
  padding:1%;
}
body{
  margin:0;
  }

